@use "../abstracts/themes" as *;

.popup {
    position: fixed;
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
    font-size: 1.25rem;
    font-weight: 300;
    z-index: 999;
    left: 50%;
    bottom: 2rem;
    min-width: max-content;
    transition: display 0.3s allow-discrete;
    animation: open-popup 0.3s forwards;

    @include themify {
        background-color: themed("background");
    }

    &.hidden {
        animation: close-popup 0.3s forwards;
    }

    &-undo {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
}

@keyframes open-popup {
    from {
        opacity: 0;
        transform: translate(-50%, 200%);
    }

    to {
        opacity: 1;
        transform: translate(-50%, 0);
    }
}

@keyframes close-popup {
    from {
        opacity: 1;
        transform: translate(-50%, 0);
    }

    to {
        opacity: 0;
        transform: translate(-50%, 200%);
    }
}

.btn-timer.popup-active::after {
    content: var(--popup-content, "Timer set!"); 
    position: absolute;
    top: 50%;
    left: 150%; 
    transform: translateY(-50%);
    @include themify {
        background-color: themed("accent");
        color: themed("main");
    }
    font-weight: bold;
    padding: 0.5rem 0.75rem;
    border-radius: 5px;
    font-size: 0.875rem;
    // box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
    white-space: nowrap;
    z-index: 1000;
    opacity: 1;
    pointer-events: none;
    animation: fade-in-out 3s ease-in-out forwards;
}

@keyframes fade-in-out {
    0% {
        opacity: 0;
    }
    10%, 90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}